---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  headings,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex justify-center my-24">
    <!-- <div class="bg-red-500 xl:grow"></div> -->
    <article class="w-full max-w-3xl">
      <div class="prose lg:prose-xl">
        <div class="title">
          <!-- {headings.map((heading) => <span>{heading.title}</span>)} -->
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
    <div class="hidden lg:flex flex-col">
      <div class="py-32 sticky top-0">
        <div class="border-l">
          <ol type="1" class="list-decimal pl-8">
            <li>Link</li>
            <li>Link</li>
            <ol type="1" class="list-decimal pl-8">
              <li>Link</li>
              <li>Link</li>
            </ol>
            <li>Link</li>
            <li>Link</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
