---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TableOfContents from '../components/TableOfContents.astro';

const {
  frontmatter: {
    title,
    description,
    pubDate,
    updatedDate,
    disableToc = false,
  },
  headings,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex justify-center my-12 sm:my-24">
    <article
      class="max-w-full md:py-24 py-12 px-2 bg-gray-100 dark:bg-gray-900 sm:px-8 md:px-16 shadow-neu-light dark:shadow-neu-dark dark:ring-1 ring-cyan-800 rounded-3xl"
    >
      <div class="prose dark:prose-invert lg:prose-lg">
        <div class="title">
          {
            pubDate ? (
              <div class="date">
                <FormattedDate date={pubDate} />
                {updatedDate && (
                  <div class="last-updated-on">
                    Last updated on{' '}
                    <FormattedDate date={updatedDate} />
                  </div>
                )}
              </div>
            ) : null
          }
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
    {!disableToc ? <TableOfContents headings={headings} /> : null}
  </div>
</BaseLayout>
